https://www.analyticsvidhya.com/blog/2021/05/dogecoin-analyze-meme-cryptocurrency-data-using-python/

In [4]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style('whitegrid')
plt.style.use('fivethirtyeight')
%matplotlib inline
import matplotlib
from matplotlib.colors import LinearSegmentedColormap
#for reading stock data from yahoo
from pandas_datareader.data import DataReader

#for time stamps
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

In [12]:
import pandas as pd
btc=pd.read_csv('archive/Bitcoin.csv',parse_dates=['Date'],
               index_col='Date')
btc = btc.iloc[::-1]
btc.tail(5)

,Open,High,Low,Close,Volume,Market Cap
Date,,,,,,
2021-06-23,32515.714303,34753.408503,31772.632355,33723.028978,4.631711e+10,6.320113e+11
2021-06-24,33682.800404,35228.852611,32385.214696,34662.435894,3.312337e+10,6.496440e+11
2021-06-25,34659.104499,35487.248003,31350.883858,31637.780055,4.023090e+10,5.929782e+11
2021-06-26,31594.663571,32637.587193,30184.501794,32186.277671,3.858539e+10,6.032760e+11
2021-06-27,32287.523211,34656.127356,32071.757148,34649.644588,3.551164e+10,6.494617e+11

In [13]:
maxValue=btc[btc['Close']==max(btc.Close)]
print("Highest value of bitcoin")
maxValue

Highest value of bitcoin

,Open,High,Low,Close,Volume,Market Cap
Date,,,,,,
2021-04-13,59890.01779,63742.283337,59869.956293,63503.45793,6.998345e+10,1.186364e+12

In [14]:
btc.describe()

,Open,High,Low,Close,Volume,Market Cap
count,2983.000000,2983.000000,2983.000000,2983.000000,2.983000e+03,2.983000e+03
mean,6613.843852,6805.260516,6402.037782,6625.160672,1.084006e+10,1.192478e+11
std,11199.197921,11553.544329,10781.352553,11209.848478,1.887826e+10,2.092413e+11
min,68.504997,74.561096,65.526001,68.431000,0.000000e+00,7.784112e+08
25%,429.792999,435.968491,421.852005,429.862000,3.013725e+07,6.294347e+09
50%,2191.560059,2303.899902,2071.989990,2202.419922,9.174120e+08,3.601766e+10
75%,8494.818022,8687.633944,8230.187652,8500.334961,1.575577e+10,1.488823e+11
max,63523.754869,64863.098908,62208.964366,63503.457930,3.509679e+11,1.186364e+12

In [15]:
btc.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2983 entries, 2013-04-28 to 2021-06-27
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Open        2983 non-null   float64
 1   High        2983 non-null   float64
 2   Low         2983 non-null   float64
 3   Close       2983 non-null   float64
 4   Volume      2983 non-null   float64
 5   Market Cap  2983 non-null   float64
dtypes: float64(6)
memory usage: 163.1 KB

In [17]:
#DOGECOIN DATA
doge=pd.read_csv('archive/Meme coin/Dogecoin.csv',parse_dates=['Date'],
                index_col='Date')
doge=doge.iloc[::-1]
doge.tail(5)

                Open      High       Low     Close        Volume    Market Cap
Date
2021-06-23  0.190671  0.247110  0.180979  0.232174  5.098675e+09  3.021735e+10
2021-06-24  0.234970  0.268690  0.222527  0.262782  3.844648e+09  3.420559e+10
2021-06-25  0.263480  0.289145  0.230006  0.239153  5.542163e+09  3.113117e+10
2021-06-26  0.237673  0.255127  0.230972  0.244784  2.649457e+09  3.186753e+10
2021-06-27  0.246045  0.266891  0.240894  0.264450  2.167522e+09  3.443160e+10

In [18]:
maxValue=doge[doge['Close']==max(doge.Close)]
print('Highest value of Dogecoin')
maxValue

Highest value of Dogecoin

               Open      High       Low     Close        Volume    Market Cap
Date
2021-07-05  0.58111  0.731972  0.520174  0.684777  2.861508e+10  8.868082e+10

In [19]:
#Bitconnect Data
bit = pd.read_csv('archive/Dead coin/bitconnect.csv',
                  parse_dates=['Date'], index_col='Date')
bit=bit.iloc[:,1:7]
bit=bit.iloc[::-1]
bit=bit.iloc[:1580]
bit18=bit[:609]
bit.tail(5)

            Open  High   Low  Close  Volume  Volume(BCC)
Date
2021-05-16  2.40  2.48  2.14   2.25    0.00         0.00
2021-05-17  2.25  2.30  2.06   2.19    4.26         1.92
2021-05-18  2.19  2.50  2.18   2.32   18.81         8.01
2021-05-19  2.31  2.34  1.68   2.01    0.00         0.00
2021-05-20  2.01  2.28  1.91   2.19    0.00         0.00

In [20]:
maxValue=bit[bit['Close']==max(bit.Close)]
print('Highest value of Bitconnect')
maxValue

Highest value of Bitconnect

              Open    High    Low   Close      Volume  Volume(BCC)
Date
2017-12-31  413.53  470.86  407.8  463.31  41366100.0     94254.86

In [21]:
#Ethereum data
eth=pd.read_csv('archive/Ethereum.csv',
                parse_dates=['Date'],index_col='Date')
eth=eth.iloc[::-1]
eth.tail(5)

,Open,High,Low,Close,Volume,Market Cap
Date,,,,,,
2021-06-23,1878.625034,2043.530443,1827.571482,1989.736271,2.840866e+10,2.316253e+11
2021-06-24,1968.957423,2032.339389,1887.432046,1988.456276,2.027285e+10,2.315093e+11
2021-06-25,1989.215789,2017.759464,1794.400424,1813.217232,2.277433e+10,2.111311e+11
2021-06-26,1810.884253,1850.179779,1719.559464,1829.239217,2.063754e+10,2.130212e+11
2021-06-27,1830.996918,1979.958125,1811.245864,1978.894662,1.988547e+10,2.304736e+11

In [22]:
maxValue=eth[eth['Close']==max(eth.Close)]
print('Highest value of ethereum')
maxValue

Highest value of ethereum

,Open,High,Low,Close,Volume,Market Cap
Date,,,,,,
2021-11-05,3948.271909,4178.208815,3783.889474,4168.701049,5.267974e+10,4.828819e+11

In [23]:
ef to2018(df):
df18=equalize(df,bit)
    return df18.iloc[:len(bit18)]
def equalize(df, dfs):
low=len(dfs)
high=len(df)
dff=high-low
    return df.iloc[dff:]

SyntaxError: invalid syntax (735705494.py, line 1)